.base-logout {
  margin-left: auto;
}

.home-title {
  margin-top: 50px;
  text-align: center;
}

.trainer-image {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.trainer-card {
  min-width: 275px;
  max-width: 275px;

  min-height: 300px;
  max-width: 300px;
  margin-left: auto;
  margin-top: 25px;
}

.class-row {
  margin-top: 75px;
}

.trainer-class-image {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.class-main-container {
  width: 25rem;
}

.class-href {
  color: black;
  text-decoration: none !important;
}

.register-class-box {
  width: 600px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 700px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}