.register-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-card {
    margin-left: auto;
    margin-right: auto;
    width: 600px !important;
}


.register-button {
    margin-left: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.register-bottom-text {
    margin-bottom: -10px;
}

.input-text {
    margin-top: 10px;
    margin-bottom: 5px;
}