{% extends "base.html" %}
{% load static %}


{% block content %}

<h1 class="home-title">Treneriai</h1>
<div class="container">
    <div class="row">
        {% for Trainer in Trainer %}
        
            <div class="col-sm-12 col-md-6 col-lg-4 col-12" id="list-padding">
                <div class="card trainer-card" >
                    <img class="card-img-top trainer-image" src={{ Trainer.trainer_image.url }} alt="Card image cap">
                    <div class="card-body trainer-card-body">
                      <h5 class="card-title">{{ Trainer.full_name }}</h5>
                      <p class="card-text">{{ Trainer.description }}</p>
                    
                      <a href="trainer/{{ Trainer.id }}"class="btn btn-primary">Užsirašyti pas {{ Trainer.full_name }}</a>
                    </div>
                  </div>
            </div>
     
        {% endfor %}
    </div>
</div>

{% endblock content %}
