<!-- <div class="container py-5">
  <h1>Prisijungimas</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form.username }}
    {{ login_form.password }}
    <button class="btn btn-primary" type="submit">Prisijungti</button>
  </form>
  <p class="text-center">Neturite paskyros? <a href="/register">Susikurkite</a>.</p>
</div> -->



{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>

    {% if messages %}
          {% for message in messages %}
         <br>
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %} 

	<div class="container py-5 ">
		<h1 class="login-title">Prisijungimas</h1>
		<form method="POST">
			{% csrf_token %}
		
			<div class="card login-card" style="width: 18rem;">
				<img class="card-img-top" src="{% static 'login.jpg' %}" alt="register">
				<div class="card-body">
				  <p class="card-text">
					<p class="input-text">Vartotojo vardas</p>
					{{login_form.username}}
					<p class="input-text">Slaptažodis</p>
					{{login_form.password}}
				</p>
				<button class="btn btn-primary login-button" type="submit">Prisijungti</button>
				<p class="text-center login-bottom-text">Neturite paskyros? <a href="/register">Susikurkite</a>.</a></p>
				</div>
			  </div>
		</form>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>