{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="list-group profile">
    <a href="" class="list-group-item list-group-item-action active">
        {{user}} - Jūsų užregistruotos treniruotės
    </a>
    {% if classes %}
    {% for class in classes %}
    <a href="#" class="list-group-item list-group-item-action"> {{class.date}}  {{class.title}} - {{class.trainer}}    </a>
    {% endfor %}
   
    {% else %}
    <a href="#" class="list-group-item list-group-item-action"> Jūs neužsiregistrave į jokias pamokas.    </a>
    {% endif %}

</div>

{% endblock content %}