{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="card text-center register-class-box">
  <div class="card-body">
    <h5 class="card-title">{{class.title}} - {{class.trainer_name}}</h5>
    <p class="card-text">{{class.date}}</p>
    <a href="/register_approve/{{ class.id }}" class="btn btn-primary">Užsiregistruoti</a>
    <a href="/trainer/{{ class.trainer }}" class="btn btn-danger">Grįžti</a>
  </div>
</div>

{% endblock content %}