{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container class-main-container">
  <div class="row class-row">
    <img src={{trainer.trainer_image.url}} alt="..." class="img-thumbnail trainer-class-image">
    <div class="card" style="width: 25rem;">
      <div class="card-header">
        Treniruotes
      </div>
      <ul class="list-group list-group-flush">
        {% if classes %}
        {% for class in classes %}

        {% if class.full_class == True %}
        
        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
          {{ class.date }} - {{ class.title }}
          <span class="badge badge-primary badge-pill disabled">({{ class.client_number }} - 5)</span>
        </li>
     
        {% else %}
        <a href="class/{{ class.id }}" class="class-href">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ class.date }} - {{ class.title }}
          <span class="badge badge-primary badge-pill">({{ class.client_number }} - 5)</span>
        </li>
      </a>
        {% endif %}
        {% endfor %}
        {% else %}
        <li class="list-group-item disabled">Pamokų šiuo metu nėra.</li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}